.resume-img {
  justify-content: center;
}
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}

.social-links i {
  color: black;
  font-size: 2.5em;
  padding: 8px;

}